{% extends "Base.html" %}
{% block title  %}Courses{% endblock %}

{% block content %}

 {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endfor %}
<div class="container">
    <h3 class="text-white text-center">Select Year and Section</h3>
    <form action="{{url_for('courses1')}}" class="form-inline  my-2 my-lg-0" method="post">
        {{ form.hidden_tag()}}
        {{form.section(class="form-control mr-sm-2 type=search",value = current_user.year_section)}}
        {{form.submit(class="btn btn-outline-success my-2 my-sm-0")}}
    </form>

<div class="card container w-100  d-flex flex-row mx-auto mt-5 w-50 pr-3 pl-3 py-3" >



    <table class="table mx-auto">
  <thead>
    <tr>
        <th scope="col">SECTION</th>
        <th scope="col">SUBJECT</th>
        <th scope="col">INSTRUCTOR</th>
        <th scope="col">UNITS</th>
        <th scope="col">TIME/SCHEDULE</th>
        <th scope="col">LOCATION</th>
    </tr>
  </thead>
  <tbody>


  </tbody>
</table>

</div>
</div>
    {% endblock %}