{% extends "Base.html" %}
{% block title %}Update{% endblock %}
{% block content%}

    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}

<div class="container ">

    <form action="{{url_for('userup')}}" method="POST">

        {{ form.hidden_tag()}}

        {{ form.name.label(class="form-label")}}
        {{ form.name(class="form-control",value =update.name)}}
		 {{ form.email.label(class="form-label")}}
        {{ form.email(class="form-control",value=update.email)}}
		 {{ form.year_section.label(class="form-label")}}
        {{ form.year_section(class="form-control",value=update.year_section)}}
		 {{ form.address.label(class="form-label")}}
        {{ form.address(class="form-control",value=update.address)}}
		 {{ form.phone_number.label(class="form-label")}}
        {{ form.phone_number(class="form-control",value=update.phone_number)}}
		 {{ form.gender.label(class="form-label")}}
        {{ form.gender(class="form-control",value=update.gender)}}

        <br/>
         {{ form.submit(class="btn btn-success" ) }}


    </form>

</div>
{% endblock %}